body {
    font-family: Roboto,arial,sans-serif;
    font-size: 100%;
    height: 100%;
}
h1 {
    font-size: 2em;
}
.input-div {
    text-align: center;
    padding: 1em;
}
.search-metadata {
    display: none;
}
#searchInput {
    width: 250px;
}
